{
  "*.{cjs,js,ts}": ["npm run lint:verify"],
  "*.{cjs,css,feature,js,json,rb,md,sh,ts,yaml,yml}": [
    "npm run prettier:verify"
  ],
  "package.json": ["sort-package-json", "typesync ./package.json --silent"]
}
